* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --sweb-primary: #141922;
    --sweb-top-right: #080b12;
    --sweb-left-nav: #000000;
    --sweb-primary-text: #fdfdfd;
    --sweb-sub-text: #7c7e83;
    --sweb-non-hover: #d2d2d2;
    --sweb-footer-bg: #282828;
}

.d-flex {
    display: flex;
}

.uppercase {
    text-transform: uppercase;

}

.capitalize {
    text-transform: capitalize;
}

.text-none {
    text-transform: none;
}

.song-title {
    color: var(--sweb-primary-text);
}

.subtitle {
    color: var(--sweb-sub-text);
}

.upgrade-button {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--sweb-primary-text);
    background-color: var(--sweb-top-right);
    color: var(--sweb-primary-text);
    text-transform: uppercase;
    border-radius: 25px;
}

/* col */
.col-2 {
    width: calc(100% / 12 * 2);
    height: auto;
}

.col-3 {
    width: calc(100% / 12 * 3);
    height: auto;
}

.col-4 {
    width: calc(100% / 12 * 4);
    height: auto;
}

.col-5 {
    width: calc(100% / 12 * 5);
    height: auto;
}

.col-6 {
    width: 50%;
    height: auto;
}

.col-7 {
    width: calc(100% / 12 * 7);
    height: auto;
}

.col-8 {
    width: calc(100% / 12 * 8);
    height: auto;
}

.col-9 {
    width: calc(100% / 12 * 9);
    height: auto;
}

.col-10 {
    width: calc(100% / 12 * 10);
    height: auto;
}

.col-11 {
    width: calc(100% / 12 * 11);
    height: auto;