*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--sweb-primary: #141922;
	--sweb-top-right: #080b12;
	--sweb-left-nav:#000000;
	--sweb-primary-text: #fdfdfd;
	--sweb-sub-text: #7c7e83;
	--sweb-footer-bg: #282828;
	}

	.d-flex{
		display: flex;
	}

.left-nav{
	background-color: var(--sweb-left-nav);
	width: 50px;
}

.up-main{
		background-color: var(--sweb-primary);

		.upgrade{
			height: 90px;
			background-color: var(--sweb-top-right);
		}
	}

main ul {
	list-style: none;
	gap: 1rem;
	color: var(--sweb-sub-text);
	text-transform: uppercase;
	justify-content: center;
}

	footer{
		height: 100px;
		background-color: var(--sweb-footer-bg);
	}